@charset "UTF-8";
// ===========================================================================
//  辅助函数
// ----------------------------------index------------------------------------
//    fibonacci/fib          斐波那契数列
//    sqrt                   求平方根
// ===========================================================================


// =============================================================
//  斐波那契数列
// =============================================================
@function fibonacci($n) {
    $fi-1: 0;
    $fi: 1;
    @if ($n <= 1) { @return 1; }

    @for $i from 2 to $n+1 {
        $tmp: $fi;
        $fi: $fi + $fi-1;
        $fi-1: $tmp;
    }

    @return $fi;
}
@function fib($n) {
    @return fibonacci($n);
}




// =============================================================
//  用二分法求平方根
//  多用于生成时间曲线的参数
// =============================================================
@function sqrt($n, $res:1, $tolerance: 0.005) {
    @if $n <= 0 { @return 0; }  //负数求根为0
    @if $n <= 1 { @return $n; } // n<1 求根不变

    // 此函数只考虑大于1的数（主要针对于正整数）
    $beg: 1;
    $end: $n;
    @while (abs($n - $res*$res) > $tolerance) {
        $res: ($beg + $end)/2;
        @if ($res*$res < $n) { $beg: $res; }
        @else { $end: $res; }
    }
    @return $res;
}
