@charset "UTF-8";
// ===========================================================================
//  网站所有布局（宽高）的配置参数
//  在命名方面可以使用缩写，并且一定要写描述
//  必要时，附加图片说明
// ===========================================================================


// 导航条高度
$nav-height: 60px !default;
$navh: $nav-height; // 简化变量名

// 底部标签栏高度
$footer-height: 45px !default;
$fh: $footer-height;
